/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 * {
   box-sizing: border-box;
 }
body{
  background-color: #1D1D1D;
  color: #B7B7B7;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 24px;
  font-size: 15px;
}

a {
  color: #A1EC1A;
  text-decoration: none;
}

.twitterbox {
  display: grid;
  grid-column-gap: 24px;
  grid-template-columns: repeat(3, auto);
  align-items: start;
}

.grid {
max-width: 1200px;
margin-left: auto;
margin-right: auto;
}

.grid-item {
max-width: 25%
}

@media screen and (max-width: 1024px) {
  .grid-item {
    max-width: 50%;
   }
}
@media screen and (max-width: 600px) {
  .grid-item {
    max-width: 100%;
   }
}
.grid-item__inner {
  margin: 5px;
  background-color: #1d1d1d3f;
  border: 1px solid #282828;
  border-radius: 8px;   
  padding: 18px 24px 24px 24px;
}

/* HEADER */
.header {
  display: grid;
  grid-template-columns: 40px 1fr 24px;
  grid-column-gap: 8px;
  align-items: center;
  margin-bottom: 8px;
}

.carbon_logo {
  grid-column: 1;
  height: 40px;
  width: 40px;
}

.carbon_logo > img {
  grid-column: 1;
  border-radius: 100%;
}

.header_title {
  grid-column: 2;
  color: white;
  font-weight: 600;
  white-space: nowrap;
}

.twitter_logo {
  grid-column: 3;
  height: 24px;
}

/* TEXT */
.twitter_text {
  margin-bottom: 8px;
}

.twitter_text > img {
  height: 12px;
  width: 12px; 
}

/* FOOTER */
.footer {
  display: grid;
  grid-template-columns: repeat(2, auto) 1fr repeat(2, auto);
  grid-column-gap: 8px;
}

.counter {
  grid-column: 1;
}
.gallery_logo {
  grid-column: 2;
  height: 24px;
  width: 24px;
}

.footer_title {
  grid-column: 3;
  justify-items: start;
}

.like_logo {
  grid-column: 4;
  height: 16px;
  width: 16px;
  margin-top: 2px;
}  

.like_logo > img {
    height: 100%;
}
.like_counter {
  grid-column: 5;
  justify-items: end;
  text-align: right;
}

.user {
  color: white;
}

.hashtag {
  color: white;
}